# Managed by Ansible (base role)
Port {{ ssh_port }}
PermitRootLogin prohibit-password
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
X11Forwarding no
MaxAuthTries 3
AllowTcpForwarding no
